<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ebb3fd6c-0dab-4d4f-bd09-ecfb42436ee6" Publisher="CN=apitron" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TestApp</DisplayName>
    <PublisherDisplayName>apitron</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WindowsStoreAppSample.App">
      <VisualElements DisplayName="WindowsStoreAppSample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="A sample application that demonstraion PDF to image conversion, created using Apitron PDF Rasterizer for .NET" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>